.main {
  width: 30rem;
  margin: 25px auto;
  background: #f8f8f8; }

.comment {
  min-height: 90px;
  padding: 0.7rem; }
  .comment p {
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em; }

.comment:nth-of-type(even) {
  background: #d9ebf4; }

.post {
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
  padding: 10px; }

textarea {
  width: 100%;
  min-height: 100px;
  display: block;
  padding: 1rem;
  font-size: 1.3rem; }

button {
  font-family: 'Archer A', 'Archer B';
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem; }

* {
  box-sizing: border-box; }
