$base-color: rgb(118,184,216);  
$light-base-color: lighten($base-color, 25%);
$lighter-base-color: lighten($base-color, 30%);
$lightest-base-color: lighten($base-color, 50%);
$dark-base-color: darken($base-color, 15%);
$darker-base-color: darken($base-color, 30%);
$complementary-color: rgb(185,60,47);
$dark-complementary-color: rgb(55,18,17);
$light-complementary-color: rgb(217,106,72);
$lighter-complementary-color: lighten($light-complementary-color, 30%);
$rocket-grey: rgb(199,200,201);
$black: #222222;
$dark-grey: lighten($black, 5%);
$white: #f8f8f8;
$grey: lighten($black, 10%);
$light-grey: lighten($black, 25%);
$lighter-grey: lighten($black, 45%);
$font-size-1: 1rem;
$font-size-2: 1.6154rem;
$font-size-3: 2.6154rem;
$font-size-4: 4.2308rem;
$font-size-5: 6.8462rem;




@mixin archer-book {
    font-family: 'Archer A', 'Archer B';
    font-weight: 500;
    font-style: normal;
}

@mixin archer-book-italic {
    font-family: 'Archer A', 'Archer B';
    font-weight: 500;
    font-style: italic;
}

@mixin archer-bold {
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}

@mixin archer-bold-italic {
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: italic;
}

@mixin whitney-book {
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 400;
    font-style: normal;
}

.main {
    width: 30rem;
    margin: 25px auto;
    background: $white;

}

.comment {
    min-height: 90px;
    padding: 0.7rem;
    p {
        @include whitney-book;
        line-height: 1.5em;
    }
    
}

.comment:nth-of-type(even) {
    background: $light-base-color;
}

.post {
    max-width: 25rem;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

textarea {
    width: 100%;
    min-height: 100px;
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
}

button {
    @include archer-bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
}

* {
    box-sizing: border-box;
}

.login {
    h3 {
        @include archer-book;
        color: $black;
        text-align: center;
        font-size: $font-size-2;
    }
    
    .twitter, .facebook {
        @include archer-book;
        width: 21rem;
        color: $white;
        background: grey;
        font-size: $font-size-2;
        margin: 1rem auto;
        border: 1px solid $lighter-grey;
        border-radius: 2px;
        i {
            padding: 1rem 1rem 1rem 1rem;
        }
        span {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        i, span {
            display: inline-block;
        }
        &:hover {
            cursor: pointer;
            border: 1px solid $light-grey;
        }

    }

    .twitter {
        background: rgb(81, 155, 228);
        i {
            background: rgb(73, 136, 201);
        }
    }

    .facebook {
        background: rgb(49, 75, 130);
        i {
            background: rgb(42, 64, 110);
        }
    }
    
}

.login-required {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include archer-bold;
    font-size: $font-size-1;
    color: $black;
    border: 1px solid $base-color;
    border-radius: 2px;
    p {

    }
}

.pending {
    text-align: center;
    @include archer-bold;
    font-size: $font-size-2;
    padding: .5rem;
    background: $light-base-color;
    border: 1px solid $lighter-grey;
    a {
        color: $dark-grey;
    }
}
ul {
  list-style: none;
}


/* animations -------*/
.comment.ng-enter {
  
    animation: fadeIn .5s linear;
}


.main-view.ng-enter {
    // opacity: 0;
    animation: fadeIn .5s linear;
   
 }
// .main-view.ng-leave {
//     transition: transform .5s linear;
// }
// .main-view.ng-leave.ng-leave-active {
//     transform: translateX(100%);
// }


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
